replicas: 1
image:
  registry: {{ env("CI_REGISTRY_IMAGE") }}
  tag: {{ env("ENVIRONMENT") }}
  pullPolicy: Always
imagePullSecrets:
  - name: gitlab-registry
group: "cycle_time"
topics: "cdp-gitlab-webhook-merge-requests,cdp-gitlab-webhook-pipelines"
esDomain: "metrics-es.cdp.t-mobile.com"
kafkaDomain: "metrics-kafka-brokers.cdp.t-mobile.com"
gitlabToken: {{ env("GITLAB_API_TOKEN") }}
